.msgContainer{
    width:300px;
    position:fixed;
    top:10px;
    right:10px;
    padding:10px;
    border-radius:5px;
    display:flex;
    column-gap: 10px;
    align-items: center;
    color: #222;
    background-color:white;
    animation:fadeIn .5s,fadeOut .5s 5.6s;
    z-index: 10;
}

@keyframes fadeIn{
    0%{opacity:0;right:0px;}
    100%{opacity:1;right:10px;}
}
@keyframes fadeOut{
    0%{opacity:1;right:10px;}
    100%{opacity:0;right:0px;}
}