
.gifContainer{
    width:fit-content;
    background:var(--background-color);
}

.sideContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    padding:5%;
    color:white;
}

.sideContainer#rightSideContainer{
    align-items: center;
}

.form{
    width:auto;
    display: FLEX;
    gap:25px;
    flex-direction: COLUMN;
    align-items: center;
    border:.5px solid var(--theme-color);
    padding: 4rem 3rem 4rem 4rem;
}

.formContainer{
   display:flex;
   gap:20px;
}

.changableForm{
    width:100%;
    align-items: center;
    display:flex;
    flex-direction:column;
    gap:20px;
    overflow:hidden;
}
.changableForm#signup{
    width:0px;
}
.switchFormButton,.forgotPassword{
    padding:0;
    background:transparent;
    border:none;
    color:white;
}
.switchFormButton:hover,.forgotPassword:hover{
    color:var(--theme-color);
    text-decoration: underline;
    cursor: pointer;
}