.applicationContainer{
    height:100%;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    background:var(--background-color);
}
.topnav{
    width:100%;
    height:8%;
    background:var(--theme-color);
    color:white;
    display:flex;
    align-items: center;
}
.topnav #menuButton{
    padding:.5rem;
    cursor:pointer;
}
#menuCloseCheckbox{
    display:none;
}
.topnav #heading{
    font-size:30px;
    margin:0 .2rem;
    flex-basis: 86%;
}
.profileContainer{
    padding:.2rem;
    background:rgba(0,0,0,.1);
    border-radius:2rem;
    display:flex;
    cursor: pointer;
}
.profileContainer #uid{
    margin:0;
    padding:0 5px;
    font-size: 20px;
    display:flex;
    align-items: center;
}
.profileContainer #arrowdown{
    transform:rotate(-90deg);
}
.profileContainer:hover>#arrowdown{
    transform:rotate(0deg);
}

/* side menu */
.menuAndContentContainer{
    width:100%;
    height:92%;
    display:flex;
    overflow:hidden;
}
.menuContainer{
    width:18rem;
    height:100%;
    background:var(--theme-color);
    display:flex;
    flex-direction:column;
}
.menuContainer .menu{
    display:flex;
    align-items: center;
    padding:0 5px;
    overflow:hidden;
    cursor: pointer;
}
.menu:hover .menuTxt{
    color:antiquewhite;
}
.menu:hover img{
    border-left:10px solid white;
}
.menu img{
    padding-left:.2rem;
}
.menu .menuTxt{
    color:white;
    font-size: 24px;
    padding-left: 1.2rem;
}
.communityAndSearchContainer{
    width:50%;
    border:2px solid red;
}