.txtbox{
    background:#dddddd;
    color:black;
    padding:12px 15px;
    border-radius: 10px;
    font-size:18px;
    border:2px solid transparent;
    outline:1px solid transparent;
  }
  .txtbox:focus{
    border:2px solid var(--theme-color);
  }

  .indexButton{
    width:100%;
    padding:10px 15px;
    border-radius: 10px;
    color:white;
    font-size: 18px;
    background:linear-gradient( var(--theme-color),#5dbbff);
    cursor: pointer;
  }
  .indexButton:hover{
    background:linear-gradient( #5dbbff,var(--theme-color));
  }

  .outerCheckbox{
    color:#5f5f5f;
    height:20px;
    width:20px;
    border:3px solid gray;
    background:gray;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all .5s;
  }
  .checkboxContainer input{
        display:none;
        float:right;
      
  } 
  .checkboxContainer,.checkboxContainer label{
    display:flex;
    cursor:pointer;
  }
  .checkboxContainer input:checked~label .outerCheckbox{
    color:var(--theme-color);
    border-color: var(--theme-color);
    background-color: #1f1f1f;
  }
  
  